@import url('_variables.css');

body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.cart table {
    margin-top: 10px;
}

.ck-button {
    cursor: pointer;
    border: none;
	line-height: initial;
}

.ck-button:link {
    text-decoration: none;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.ck-button:link,
.ck-button:hover {
	border: 1px solid transparent;
}

.ck-button-lg {
    padding: 10px;
    font-size: 14px;
}
.ck-float-r {
	float: right;
}

.ck-button-primary {
    background: var(--primary);
    color: var(--white);
}

.ck-button-primary:hover {
    background: var(--primary);
    color: var(--white);
	border: 1px solid var(--white);
}

.ck-button-primary-outline {
    border: 1px solid;
    background: var(--white);
	color: var(--primary);
}

.ck-button-primary-outline:hover {
    border-color: transparent;
    background: var(--primary);
	color: var(--white);
}

.ck-button-secondary {
    background: var(--secondary);
    color: var(--white);
}

.ck-button-default {
    background: var(--white);
    border: 1px solid var(--primary);
    color: var(--primary);
}

.ck-button-default-outline {
    background: var(--white);
    border: 1px solid;
    color: var(--default);
}

.ck-button-default-outline:hover {
    background: var(--default);
    border-color: transparent;
    color: var(--white);
}


.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.product{
	border-radius: 0 0 4px 4px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}


.row-image{
	width: 100px;
}

.quantity{
	display: flex;
	flex: 1
}

.num-quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}

.ck-form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.hidden{
	display: none!important;
} 

.shipping-info {
	margin-top: 10px;
}

.invalid {
	border: 2px solid red;
}

.ck-menu-drop {
	position: relative;
	background: transparent;
	border: 1px solid transparent;
}

.ck-menu-drop:hover {
	display: block;
}

.ck-menu-drop-button {
	background: transparent;
	width: 200px;
	display: flex;
	flex-direction: column;
}

.ck-menu-drop-button:hover {
	border: none;
	background: transparent;
}

.ck-menu-drop-content {
	background: var(--white);
	min-width: 300px;
	height: 150px;
	position: absolute;
	display: none;
	box-shadow: 0px 8px 16px 0px rgba(0,78,0,0.2);
	z-index: 1;
	left: -24%;
}

.ck-menu-drop-content a{
	display: block;
}

.ck-menu-drop:hover .ck-menu-drop-content {
	display: block;
}

.ck-nav-item-line-1-wrapper {
	width: 100%;
}

.ck-nav-item-line-1 {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 10px;
	font-weight: 700;

}

.ck-nav-item-line-2-wrapper {
	width: 100%;
}

.ck-nav-item-line-2 .ck-down-arrow {
	margin:0 0 1.5px 8px;
}

.ck-arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.ck-down-arrow {
	transform: rotate(45deg);
  	-webkit-transform: rotate(45deg);
}

.ck-menu-drop-content-wrapper {
	display: flex;
	height: 100%;
	padding:20px
}

.ck-menu-drop-content-1,
.ck-menu-drop-content-2 {
	flex-grow: 1
}

.ck-account-menu-wrapper {
	margin: 20px 5px 5px 2px;
}

.ck-account-menu {
	list-style-type: none;
	padding: 0;
	font-size: 13px;
}

.ck-account-menu-button {
	text-decoration: none;
}

.ck-title {
	font-weight: 700;
}

.ck-title-3 {
	font-size: 30px;
}
.ck-title-2 {
	font-size: 20px;
}
.ck-title-2 {
	font-size: 15px;
}

.ck-account-menu-item {
	margin: 3px 0;
}

.ck-menu-drop-divider {
	background: rgba(0, 78, 0, .3);
	height: 80%;
	width: 2px;
	align-self: center;
	margin:0 17px;
}

.ck-menu-cart-wrapper {
	display: flex;
	align-items: center;
	border: 1px solid transparent;
	
}

.ck-menu-item:hover {
	border-color: var(--white);
	border-radius: 2px;
}

.ck-menu-cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

.ck-menu-cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 23px;
	border-radius: 50%;
	font-size: 14px;
}

.ck-menu-brand-wrapper {
	border: 1px solid transparent;
}

.ck-brand {
    text-align: center;
    color: rgba(0, 78, 0, 1);
	margin: 0;
	font-size: 24px;
	text-decoration: none;
	white-space: nowrap; 
}

.ck-brand:link,
.ck-brand:hover {
	color: inherit;
}

.ck-container {
	background: var(--white);
	min-height: 100vh;
}

.ck-store-product-filters {
	width: 13%;
	height: 400px;
}

.ck-store-products-container {
	margin: auto;
	width: 80%;
	overflow: auto;
	display: flex;
}


.ck-store-products-wrapper {
	width: 78%;
}

.ck-store-product-wrapper {
	height: 215px;
	border-bottom: 2px solid #ccc;
	margin: 10px 15px;
	display: flex;
}

.ck-store-product-brand-wrapper {
	position: relative;
	width: 40%;
	height: 100%;
}

.ck-store-product-brand-wrapper a{
	position: absolute;
	width: 100%;
	height: 100%;
}


.ck-store-product-brand-wrapper img {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.ck-store-product-description-wrapper {
	/* flex-grow: 3; */
	width: 60%;
	height: 100%;
}

.ck-store-product-description-container {
	padding: 10px;
	height: 100%;
	display: flex;
	flex-direction: column;
}


.ck-store-product-description-container a{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}



.ck-store-product-divider {
	background: rgba(0, 78, 0, .3);
	height: 500px;
	width: 2px;
	margin:0 17px;
}

.ck-link {
	text-decoration: none;
	color: inherit;
}

.ck-link:hover {
	color: rgba(0, 78, 0, .5);
}


.ck-product-wrapper {
	margin: auto;
	width: 80%;
	overflow: auto;
	display: flex;
	min-height: 500px;
}

.ck-product-brand-wrapper {
	width: 40%;
	height: 500px;
	position: relative;
}

.ck-product-brand-wrapper img {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.ck-product-description-wrapper {
	width: 50%;
	height: 900px;
	margin-left: 10px;
}

.ck-product-cart-wrapper {
	height: 150px;
	border: 1px solid rgba(0, 78, 0, .3);
	border-radius: 6px;
	padding: 10px;
	margin-left: 10px;
	box-sizing: border-box;
	position: relative;
}

.ck-product-descripion-horizontal-divider,
.ck-horizontal-divider {
	height: 2px;
	border: 1px solid rgba(0, 78, 0, .5);
}

.ck-horizontal-divider {
	margin: 10px 0;
}

.ck-product-description-container-1 {
	min-height: 60px;
}

.ck-product-description-container-1,
.ck-product-description-container-2,
.ck-product-description-container-3 {

	padding-top: 10px;
	margin-bottom: 10px;
}

.ck-product-description-container-3-wrapper{
	margin-top: 20px;
}

.ck-mg-btm-3 {
	margin-bottom: 3px;
}


.ck-product-cart-wrapper span {
	display: block;
}

.ck-product-cart-button {
	border-radius: 10px;
	margin-top: 10px;
}

.ck-product-cart-qty {
	margin: 10px 0;
}

.ck-input {
	width: 100%;
}

.ck-orders-wrapper {
	margin: auto;
	width: 80%;
	overflow: auto;
	display: flex;
	min-height: 500px;
	display: flex;
	flex-direction: column;
}

.ck-orders-list-wrapper {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.ck-orders-order-wrapper {
	min-height: 40px;
	width: 80%;
	margin: 10px 0;
	text-decoration: none;
	color: inherit;
	line-height: 2;
	box-shadow: 0 2px 14px rgba(0, 78, 0, .3);
	display: flex;
	justify-content: space-between;
	padding: 0 30px;
}

.ck-orders-order-wrapper:hover {
	color: inherit;
}

.ck-order-wrapper {
	margin: auto;
	width: 80%;
	overflow: auto;
	display: flex;
}

.ck-order-items-wrapper {
	min-height: 200px;
	border: 1px solid #ccc;
	width: 80%;
}

.ck-order-item-wrapper {
	display: flex;
	height: 160px;
	padding: 20px;
}

.order-item-brand-wrapper {
	flex-grow: 1;
	position: relative;
	box-sizing: border-box;
}

.order-item-brand-wrapper img{
	/* position: absolute; */
	width: 300px;
	height: 100%;
	padding: 10px;
}

.order-item-content-wrapper {
	flex-grow: 3;
	box-sizing: border-box;
	padding: 5px 0 0 10px;
	display: flex;
	flex-direction: column;
}

@media (max-width: 995px) {
	.ck-menu-drop-content {
		left: 0;
	}
}


@media(max-width: 500px) {

	.ck-store-product-divider {
		height: 2px;
	}

	.ck-store-product-filters {
		height: 66px;
	}

	.ck-store-products-wrapper,
	.ck-product-brand-wrapper,
	.ck-store-product-filters,
	.ck-store-product-divider,
	.ck-store-product-brand-wrapper,
	.ck-store-product-description-wrapper,
	.ck-product-description-wrapper,
	.ck-form-field,
	.ck-orders-order-wrapper,
	.order-item-brand-wrapper img
	.ck-order-items-wrapper,
	.ck-order-wrapper,
	.ck-order-items-wrapper,
	.order-item-brand-wrapper img {
		width: 100%;
	}

	.ck-store-product-description-container,
	.ck-store-product-brand-wrapper img,
	.ck-product-brand-wrapper img  {
		padding: 0;
	}

	.ck-title-3 {
		font-size: 22px;
	}

	.ck-store-product-wrapper,
	.ck-product-wrapper,
	.ck-store-products-container,
	.ck-order-item-wrapper,
	.ck-product-cart-wrapper {
		flex-direction: column;
	}

	.ck-product-brand-wrapper {
		height: 200px;
	}

	.ck-product-description-wrapper {
		height: 270%;
	}

	.ck-product-cart-wrapper {
		margin: 0;
		margin-top: 10px;
		display: flex;
	}
	.ck-order-item-wrapper {
		height: inherit;
	}
}
