{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element form-wrapper">
                <form>
                    <div class="user-info">
                        <div class="form-field">
                            <input type="text" class="form-control" name="name" placeholder="Name ...">
                        </div>
                        <div class="form-field">
                          <input type="email" class="form-control" name="email" placeholder="Email ...">
                        </div>
                        <div class="form-field">
                            <input type="text" class="form-control" name="phone" placeholder="Phone ...">
                        </div>
                    </div>
                   <div class="shipping-info">
                        <p>Shipping Information</p>
                        <div class="form-field">
                            <input type="address" class="form-control" name="address" placeholder="Address ...">
                        </div>
                        <div class="form-field">
                            <input type="apartment" class="form-control" name="apartment" placeholder="Apartment, suite, etc ( Optional ) ...">
                        </div>
                        <div class="form-field">
                            <input type="city" class="form-control" name="city" placeholder="City ...">
                        </div>
                        <div class="form-field">
                            <input type="number" class="form-control" name="postcost" placeholder="Postal Code">
                        </div>
                   </div>
                    <input type="submit" class="btn btn-primary btn-block" value="Continue" name="form-button   " />
                  </form>
            </div>
            <br>
            <div class="box-element  hidden" class="payment-info">
                <small>Paypal Options</small>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; back to cart</a>
                <hr>
                <h4>Order summary</h4>
                <hr>
                <div class="cart-row">
                    <div style="flex: 2">
                        <img class="row-image" src="{% static 'images/placeholder.png' %}" />
                    </div>
                    <div style="flex: 2"><p>Product 1</p></div>
                    <div style="flex: 1"><p>R300</p></div>
                    <div style="flex: 1"><p>$150</p></div>
                </div>
                <h5>Items: 3</h5>  
                <h5>Price: R500</h5>    
            </div>
        </div>
    </div>
{% endblock content %}