{% extends 'accounts/main.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="register-wrapper">
    <div class="container-wrapper">
        <div class="auth-container">
            <h1 class="ck-brand">CK Mart Logo</h1>
            <div class="auth-wrapper">
                <div class="register-auth-panel">
                    <h3>Sign-Up</h3>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Your Name</label>
                            <input class="form-element"type="text" />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-element"type="email" />
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-element"type="password" />
                            <span class="ck-input-info">Password must be at least 6 characters</span>
                        </div>
                        <div class="form-group">
                            <label>Re-enter password</label>
                            <input class="form-element"type="password" />
                        </div>
                        <button class="ck-button ck-button-lg ck-button-primary">Continue</button>
                    </form>
                </div>
            </div>
            <div class="signup-connect-wrapper">
                <div class="ck-connect-wrapper">
                    <div class="ck-connect">
                        <div class="ck-connect-line ck-margin-r line-sm"></div>
                        <label class="ck-connect-label">Already have an Account?</label>
                        <div class="ck-connect-line ck-margin-l line-sm"></div>
                    </div> 
                    <a class="ck-button ck-button-lg ck-button-default" href="{% url 'signin' %}">Sign-In</a>
                </div>
            </div>
            <div class="ck-auth-line"></div>
        </div>
    </div>
</div>
{% endblock %}